<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight([%-5level]) %d{yy-MM-dd HH:mm:ss.SSS} %green([%thread]) %cyan([%logger{0}:%line])-%message%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOKI_APPENDER" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://jun-monitoring.kro.kr:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>profile=${SPRING_PROFILES_ACTIVE:-unknown},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>%highlight([%-5level]) %d{yy-MM-dd HH:mm:ss.SSS} %green([%thread]) %yellow([traceId=%X{traceId}]) %cyan([%logger{0}:%line])-%message%n</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender name="LOKI_APPENDER" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>http://jun-monitoring.kro.kr:3100/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>profile=local,host=${HOSTNAME},level=%level</pattern>
                        <readMarkers>true</readMarkers>
                    </label>
                    <message>
                        <pattern>%highlight([%-5level]) %d{yy-MM-dd HH:mm:ss.SSS} %green([%thread]) %yellow([traceId=%X{traceId}]) %cyan([%logger{0}:%line])-%message%n</pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
            </appender>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender name="LOKI_APPENDER" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>http://jun-monitoring.kro.kr:3100/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>profile=prod,host=${HOSTNAME},level=%level</pattern>
                        <readMarkers>true</readMarkers>
                    </label>
                    <message>
                        <pattern>%highlight([%-5level]) %d{yy-MM-dd HH:mm:ss.SSS} %green([%thread]) %yellow([traceId=%X{traceId}]) %cyan([%logger{0}:%line])-%message%n</pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
            </appender>
        </root>
    </springProfile>
</configuration>
